{% extends "master.html" %}

{% block content %}   
<div class="panel panel-info">
      <div class="panel-heading">Provide an Image to Predict</div>
      <div class="panel-body">    
       <div style="padding-left:30%">   
        <form method="post" enctype="multipart/form-data" action="/predict" class="form-inline">    
            {{ form.hidden_tag() }}
            <div class="form-group mx-sm-3 mb-2">
            {{ form.photo }}
            {% for error in form.photo.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary mb-2">Predict</button>
            <br>
        </form>
       </div>    
    </div>
</div>     
<div style="padding-top:5px"></div>

{% if prediction == 0 %}
<div class="panel panel-danger">
      <div class="panel-heading">Detection Error!</div>
      <div class="panel-body">Unable to detect humans or dogs in the provided image below.</div>      
      {% if file_path %}
        <div style="display: flex; justify-content: center;">
            <img src="{{ file_path }}">
        </div>
      {% endif %}    
      <br>
</div>
{% elif prediction %}  
<div class="panel panel-success">
      <div class="panel-heading">{{prediction[0]}}</div>
      <div class="panel-body">{{prediction[1]}} <b>{{prediction[2]}}</b></div>      
      {% if file_path %}
        <div style="display: flex; justify-content: center;">
            <img src="{{ file_path }}">
        </div>
      {% endif %}    
      <br>
</div>   
{% endif %}  

{% endblock %}